{% extends "layouts/index.html" %}

{% block body %}
  <div id="app">
    <v-app>
        <v-container>
            <v-row class="my-0 py-0">
              <v-toolbar dark elevation="2">
                <v-img
                    href="/"
                    max-height="60"
                    max-width="250"
                    src="https://www.cala-analytics.com/wp-content/uploads/2022/02/Logo_Cala_Seleccionado_RGB.png"
                ></v-img>
                <v-toolbar-title left>Prueba Julián Polo</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click="reloadPage">
                    <v-icon left>mdi-reload</v-icon>Actualizar
                </v-btn>
                <v-btn href="/">
                    <v-icon left>mdi-shopping</v-icon>Mostrar Pedidos
                </v-btn>
                <v-btn href="/analytics">
                    <v-icon left>mdi-poll</v-icon>Mostrar Análisis
                </v-btn>
              </v-toolbar>
            </v-row>
            <v-row>
                <v-col cols="3">
                    <h3>Analítica</h3>
                </v-col>
            </v-row>
            <v-row v-if="show.filenames">
                <v-col cols="3">
                    <v-alert
                        border="left"
                        color="purple"
                        dense
                        type="info"
                        v-text="file_txt"
                    ></v-alert>
                </v-col>
                <v-col cols="3">
                    <v-alert
                        border="left"
                        color="purple"
                        dense
                        type="info"
                        v-text="file_xlsx"
                    ></v-alert>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6">
                    <div id="piechart"></div>
                </v-col>
                <v-col cols="6">
                    <div id="comboChart"></div>
                </v-col>
            </v-row>
        </v-container>
    </v-app>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="{{url_for('static', filename='js/analytics.js')}}"></script>
{% endblock %}